Django>=4.2.17
wagtail>=2.15,<2.18
django_libsass
django-compressor<3
psycopg2-binary
wagtail-markdown<1
django-countries>=7,<8
wagtail-localize>=1.2,<1.3
wagtail-footnotes>=0.8.1,<0.10
lxml>=4.7
sorl-thumbnail
uTidylib==0.8
